{% extends 'base.html' %}

{% block content %}
    
  <div class="container">
    <div class="container-nav">
      <div class="nav-logo">
        <h1>TodoList</h1>
    </div>
      <div class="nav-button">
        <a href="{% url 'login_page' %}">
          <button>Logout</button>
        </a>
      </div>
    </div>
     
    <div class="container-in">
      <form method="post">
        {% csrf_token %}
        <input type="text" name="task"  placeholder="Enter your task">
        <input type="date" name="date"   placeholder="time">
        <button>Submit</button>
      </form>
       </div>
         <div class="container-head">
          <div class="container-head-in"> 
          {% for todo in todos %}
           <div class="task-div">
            {{ todo.task }}
           </div>
           <div class="task-date">
            {{ todo.date }}
           </div>
          </div>
        {% endfor %}
    </div>

    
  </div>

    {% endblock %}