{% extends 'base.html' %}

{% block content %}
    
  <div class="container">
    <div class="container-nav">
      <div class="nav-logo">
        <h1>TodoList</h1>
    </div>
      <div class="nav-button">
        <a href="{% url 'login_page' %}">
          <button>Logout</button>
        </a>
      </div>
    </div>
     
    <div class="container-in">
      <form method="post">
        {% csrf_token %}
        <input type="text" name="task"  placeholder="Enter your task">
        <input type="time" name="time"   placeholder="time">
        <button>Submit</button>
      </form>
      {% if error %}
      <div class="error-message">
        {{ error }}
        </div>
      {% endif %}
    </div>
    
    <div class="container-head">
      <div class="container-head-in"> 
        {% for todo in todos %}
        <div class="task-item">
          <div class="todo-task {% if todo.done %}done{% endif %}">{{ todo.task }}</div> 
          <div class="todo-date">{{ todo.time }}</div>
          <div class="done-button">
            <button>
              <a href="{% url 'delete_task' todo.id %}">Delete</a>
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
  </div>

  </style>

{% endblock %}