{%extends 'base.html'%}

{%block content%}

<div class="login-container">
    <div class="login-container-in">
        <form action="" class="form-div">
            <div class="form-one">
             <input type="text" placeholder="Enter your username">
            </div>
            <div class="form-two">
                <input type="password" placeholder="password">
            </div>
            <div class="form-three">
                <a href="">forgot password?</a>
            </div>
            <div class="form-four">
                <button>submit</button>
            </div>
        </form>
    </div>
</div>

{%endblock%}