 {%extends 'base.html'%}

 {%block content%}

 <div class="register-container">
    <div class="register-container-in">
        <form action="" class="register-form">
            <div class="register-one">
                <input type="text" placeholder="username">
            </div>
            <div class="register-two">
                <input type="password" placeholder="password">
            </div>
            <div class="register-three">
                <input type="password" placeholder="confirm password">
            </div>
            <div class="register-four">
                <input type="email" placeholder="email">
            </div>
            <div class="register-five">
               <button>submit</button>
            </div>
        </form>
    </div>
 </div>

 {%endblock%}