 {%extends 'base.html'%}

 {%block content%}

 <div class="register-container">
    <div class="register-container-in">
        <form method="post" class="register-form">
            {% csrf_token %}
            <div class="register-one">
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="register-two">
                <input type="email" name="email" placeholder="email">
            </div>
            <div class="register-three">
                <input type="password" name="password" placeholder="confirm password">
            </div>
            <div class="register-four">
                <input type="password" name="confirm_password" placeholder="confirm password">
            </div>
            <div class="register-five">
               <button>submit</button>
               <a href="{% url 'login_page' %}">already a user? login</a>
            </div>
        </form>
    </div>
    {% if error %}
    <div class="error-message">
        {{ error }}
     </div>  
    {%endif%}
 </div>

 {%endblock%}