* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    font-size: 1vw;
    border-bottom: .1px solid black;
    color: rgb(82, 79, 79);
}


.container-in form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    gap: 20px;
}

.container-in input[type=text] {
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: black;
    padding: 10px;
    font-size: 20px;
}

 

.container button {
    border: none;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.container-head {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    border: 2px solid black;
}

.container-head-in {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-div {
    border: 2px solid black;
}

.task-date {
    border: 2px solid black;
}

