/* Style for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  /* Style for the registration container */
  .register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 4vw;
  }
  
  .register-container-in {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .register-form {
    display: flex;
    flex-direction: column;
  }
  

  .register-form input[type="text"],
  .register-form input[type="password"],
  .register-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Style for the submit button */
  .register-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .register-form button:hover {
    background-color: #0056b3;
  }
  
  .register-five {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .register-five a {
    text-decoration: none;
  }
  /* Additional styles can be added for more customization */
  

  .error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
  }